# 0.0.1 Variables
- Variables are fundamental elements in programming used to store data that can be referenced and
manipulated in a program. In Python, variables are created when you assign a value to them,
and they do not need explicit declaration to reserve memory space. The declaration happens
automatically when you assign a value to a variable.

In [86]:
## Declaring And Assigning Variables
## Python automatically detects the data type.

name = "Kishan"   # String
age = 26          # Integer
height = 5.9      # Float
is_student = True # Boolean

## printing the variables

print("age :",age)
print("Height:",height)
print("Name:",name)
print("is_student:",is_student)

age : 26
Height: 5.9
Name: Kishan
is_student: True

In [87]:
#print types of class

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

# 0.1 Naming Conventions
- Variable Naming Rules

‚úÖ Allowed:

- name = "kishan"
- _age = 26
- user_123 = "kishan"

‚ùå Not Allowed:

- 123name = "kishan" ‚ùå (Cannot start with a number)
- name@ = "kishan" ‚ùå (Cannot contain special characters except _)
- def = 10 ‚ùå (def is a reserved keyword)

In [88]:
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and_/‚Ü™underscores
## variables names are case sensitive
#valid variable names
first_name="kishan"
last_name="patel"

In [89]:
# Invalid variable names
#2age=30
#first-name="kishan"
##@name="kishan"

# üìå case sensitivity Explanation:

- name and Name are two different variables because Python treats them as separate identifiers.
- The comparison (name == Name) returns False because ("kishan" != "patel".)

In [90]:
## case sensitivity
name="kishan"
Name="patel"
name==Name

False

# 0.2 Understnading Variable types
- Python automatically assigns types to variables.
- Use type() to check a variable‚Äôs type.
- Use type conversion functions (int(), float(), str(), etc.) when needed.

In [91]:
## Python is dynamically typed, type of a variable is determined at runtime
age=26 #int
height=5 #float
name="kishan" #str
is_student=True #bool
print(type(name))

<class 'str'>

In [92]:
## Type Checking and Conversion
type(height)

int

In [93]:
type(age)

int

In [94]:
type(is_student)

bool

In [95]:
# Type Conversion

In [96]:
k1=21.5
type(k1)

float

In [97]:
int(k1)

21

In [98]:
age=25
print(type(age))
# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [99]:
age='25'
print(type(int(age)))

<class 'int'>

In [100]:
name="kishan"
int(name)

ValueError: invalid literal for int() with base 10: 'kishan'

In [ ]:
height=6.2
type(height)

float

In [ ]:
height=int(height)
height

6

In [ ]:
float(height)

6.0

# 0.2.1 Type Conversion

 - str‚Äî>int, float (X)
 - int‚Äî>str, float
 - float‚Äî>str, int ‚Äî->float ‚Äî> Data loss

In [15]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes
var=10 #int
print(var,type(var))
var="Hello" # str
print(var,type(var))
var=3.14 #float
print(var,type(var))
is_student = True
var=is_student # bool
print(var,type(var))
var

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>

True

In [ ]:
## input
age=int(input("What is the age"))
print(age,type(age))

26 <class 'int'>

In [ ]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2
print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 18.0
Difference: 13.0
Product: 38.75
Quotient: 6.2

# 0.2.2 Conclusion:
Variables are essential in Python programming for storing and manipulating data. Understanding
how to declare, assign, and use variables effectively is crucial for writing functional and efficient code.
Following proper naming conventions and understanding variable types will help in maintaining
readability and consistency in your code.